In [1]:
import pandas as pd

file_path = 'Merge_file.xlsx'
df = pd.read_excel('Merge_file.xlsx')

df['Revenue Growth (%)'] = df.groupby('Company Name')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company Name')['Net Income'].pct_change() * 100

df.fillna(0, inplace=True)

print(df)

summary = df.groupby('Company Name').agg({'Revenue Growth (%)': 'mean','Net Income Growth (%)': 'mean'}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

  Company Name  Year  Total Revenue  Net Income  Total Assets  \
0    Microsoft  2023         211915       72361      411976.0
1    Microsoft  2022         198270       72738      364840.0
2    Microsoft  2021         168088       61271           0.0
3        Tesla  2023          96773       14974      106618.0
4        Tesla  2022          81462       12587       82338.0
5        Tesla  2021          53823        5644           0.0
6        Apple  2023         383285       96995      352583.0
7        Apple  2022         394328       99803      352755.0
8        Apple  2021         365817       94680           0.0

   Total Liabilities  Cash Flow from Operating Activities  Revenue Growth (%)  \
0           205753.0                                87582            0.000000
1           198298.0                                89035           -6.438902
2                0.0                                76740          -15.222676
3            43009.0                                13256            0.000000
4            36440.0                                14724          -15.821562
5                0.0                                11497          -33.928703
6           290437.0                               110543            0.000000
7           302083.0                               122151            2.881146
8                0.0                               104038           -7.230275

   Net Income Growth (%)
0               0.000000
1               0.520999
2             -15.764800
3               0.000000
4             -15.940964
5             -55.160086
6               0.000000
7               2.894995
8              -5.133112

Year-over-Year Average Growth Rates (%):
  Company Name  Revenue Growth (%)  Net Income Growth (%)
0        Apple           -1.449710              -0.746039
1    Microsoft           -7.220526              -5.081267
2        Tesla          -16.583422             -23.700350